.container {
    padding: 10px 10px;
}

.header_modal {
    display: flex;
    justify-content: space-between;
}
.key_modal {
    display: flex;
}
.key_modal i{
    font-size: 20px;
    padding: 0px 20px;
    cursor: pointer;
    text-align: center;
}

.key_modal button{
    border-radius: 10px;
    background-color: rgb(205, 203, 203);
    height: 40px;
    transition: 0.3s;
}

.key_modal button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}